@import '../../lib/_variables.scss';

.counters-wrapper {
  article {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 15px;
    justify-content: center;
    align-content: center;
    justify-items: center;

    div {
      width: 100%;
      display: grid;
      grid-template-columns: 110px 1fr 110px;
      align-items: center;
      justify-items: center;

      button {
        width: 45px;
      }
    }
  }

  .total-count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 50px;
    color: $secondary;
    border-bottom: 1px solid $secondary;
  }
}
